# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# MODBUS library
*~
*.swp
*.o
*.la
*.lo
*.log
*.trs
.deps
.libs
GPATH
GRTAGS
GSYMS
GTAGS
INSTALL
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/libmodbus.pc
/stamp-h1
/*.sublime-*
src/modbus-version.h
src/win32/modbus.dll.manifest